.search {
    padding-bottom: 20px;
    h1 {
        margin: 0;
        font-size: 42px;
        font-weight: 500;
    }
    &-field {
        margin: 20px 0 15px 0;
        width: 550px;
        height: 50px;
        padding: 0 15px;
        border: none;
        border-radius: 5px;
    }
    &-button {
        margin: 0 15px;
        padding: 16px 26px;
        color: #fff;
        background-color: #49a6ea;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    &-error-message {
        color: darkred;
        font-size: 18px;
        margin: 0;
    }
}
