.search {
    // border: 1px solid black;
    padding-bottom: 20px;
    h1 {
        margin: 0;
        font-size: 42px;
        font-weight: 500;
    }
    &-field {
        margin: 20px 0 15px 0;
        width: 550px;
        height: 50px;
        padding: 0 15px;
        border: none;
        border-radius: 5px;
    }
    &-error-message {
        color: darkred;
        font-size: 18px;
        margin: 0;
    }
}
